@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorConocenos .contenedorTarjetas .videoInvitacion, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .imagenPrincipal {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbarPersonalizado {
  width: 75%;
  margin: 0 auto;
  background-color: #D7BE9E;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}
header .navbarPersonalizado .logo {
  transition: 1s;
}
header .navbarPersonalizado .logo:hover {
  transform: scale(2);
}
header .navbarPersonalizado .linkPersonalizado {
  text-decoration: none;
  font-family: "Cormorant", serif;
  font-style: oblique;
  font-size: 2rem;
  color: black;
  transition: 1s;
}
header .navbarPersonalizado .linkPersonalizado:hover {
  text-shadow: 10px 10px 10px black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
  background-color: #f0e1ce;
}
footer .footerDivList {
  list-style: none;
}
footer .footerDivList .logosRedes {
  width: 3vw;
  transition: 1s;
}
footer .footerDivList .logosRedes:hover {
  transform: scale(1.5);
}

.contenedorConocenos .contenedorTarjetas .videoInvitacion, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .imagenPrincipal {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorConocenos .contenedorTarjetas .videoInvitacion, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .imagenPrincipal {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorConocenos .contenedorTarjetas .videoInvitacion, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .imagenPrincipal {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbarPersonalizado {
  width: 75%;
  margin: 0 auto;
  background-color: #D7BE9E;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}
header .navbarPersonalizado .logo {
  transition: 1s;
}
header .navbarPersonalizado .logo:hover {
  transform: scale(2);
}
header .navbarPersonalizado .linkPersonalizado {
  text-decoration: none;
  font-family: "Cormorant", serif;
  font-style: oblique;
  font-size: 2rem;
  color: black;
  transition: 1s;
}
header .navbarPersonalizado .linkPersonalizado:hover {
  text-shadow: 10px 10px 10px black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
  background-color: #f0e1ce;
}
footer .footerDivList {
  list-style: none;
}
footer .footerDivList .logosRedes {
  width: 3vw;
  transition: 1s;
}
footer .footerDivList .logosRedes:hover {
  transform: scale(1.5);
}

.title1 {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 60px;
  color: black;
  font-family: "Cormorant", serif;
  display: flex;
  justify-content: center;
}

.imagenIndex {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imagenPrincipal {
  width: 70%;
  display: flex;
  align-content: center;
  margin-bottom: 50px;
}

.contenedorConocenos .contenedorTarjetas .videoInvitacion, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .imagenPrincipal {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorConocenos .contenedorTarjetas .videoInvitacion, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .imagenPrincipal {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbarPersonalizado {
  width: 75%;
  margin: 0 auto;
  background-color: #D7BE9E;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}
header .navbarPersonalizado .logo {
  transition: 1s;
}
header .navbarPersonalizado .logo:hover {
  transform: scale(2);
}
header .navbarPersonalizado .linkPersonalizado {
  text-decoration: none;
  font-family: "Cormorant", serif;
  font-style: oblique;
  font-size: 2rem;
  color: black;
  transition: 1s;
}
header .navbarPersonalizado .linkPersonalizado:hover {
  text-shadow: 10px 10px 10px black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
  background-color: #f0e1ce;
}
footer .footerDivList {
  list-style: none;
}
footer .footerDivList .logosRedes {
  width: 3vw;
  transition: 1s;
}
footer .footerDivList .logosRedes:hover {
  transform: scale(1.5);
}

/* Estilos de la página Conocenos */
.contenedorConocenos .title1 {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 60px;
  color: black;
  display: flex;
  justify-content: center;
}
.contenedorConocenos .contenedorTarjetas {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.contenedorConocenos .contenedorTarjetas .contenedorTexto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorConocenos .contenedorTarjetas .contenedorTexto .textoPresentacion {
  width: 35vw;
  height: fit-content;
  border: 2px solid black;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
}
.contenedorConocenos .contenedorTarjetas .contenedorTexto .textoPresentacion .title2 {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 1vw;
}
.contenedorConocenos .contenedorTarjetas .contenedorTexto .textoPresentacion .texto {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  padding-top: 2vw;
}
.contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1 {
  width: 30vw;
}
.contenedorConocenos .contenedorTarjetas .imagenConocenos2 {
  display: flex;
  justify-content: center;
  align-content: center;
  height: fit-content;
}
.contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa {
  width: 30vw;
  border: 2px solid black;
}
.contenedorConocenos .contenedorTarjetas .contenedorTexto .textoOrganizacion {
  width: 35vw;
  border: 2px solid black;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
}
.contenedorConocenos .contenedorTarjetas .contenedorTexto .textoOrganizacion .title3 {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 1vw;
}
.contenedorConocenos .contenedorTarjetas .contenedorTexto .textoOrganizacion .texto {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  padding-top: 2vw;
}
.contenedorConocenos .contenedorTarjetas .textoInvitacion {
  width: 35vw;
  height: fit-content;
  border: 2px solid black;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
}
.contenedorConocenos .contenedorTarjetas .textoInvitacion .title2 {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 1vw;
}
.contenedorConocenos .contenedorTarjetas .textoInvitacion .texto {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 1.5rem;
  color: black;
  text-align: center;
  padding-top: 2vw;
}
.contenedorConocenos .contenedorTarjetas .videoInvitacion {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 25vw;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
}
.contenedorConocenos .formularioConocenos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedorConocenos .formularioConocenos .title2 {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 30px;
  color: black;
  text-align: center;
  padding-top: 1vw;
}
.contenedorConocenos .formularioConocenos .contenedorFormulario {
  border: 2px solid black;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #8a7457;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
}
.contenedorConocenos .formularioConocenos .contenedorFormulario .formulario {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagenPrincipal, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .videoInvitacion {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenPrincipal, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .videoInvitacion {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbarPersonalizado {
  width: 75%;
  margin: 0 auto;
  background-color: #D7BE9E;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}
header .navbarPersonalizado .logo {
  transition: 1s;
}
header .navbarPersonalizado .logo:hover {
  transform: scale(2);
}
header .navbarPersonalizado .linkPersonalizado {
  text-decoration: none;
  font-family: "Cormorant", serif;
  font-style: oblique;
  font-size: 2rem;
  color: black;
  transition: 1s;
}
header .navbarPersonalizado .linkPersonalizado:hover {
  text-shadow: 10px 10px 10px black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
  background-color: #f0e1ce;
}
footer .footerDivList {
  list-style: none;
}
footer .footerDivList .logosRedes {
  width: 3vw;
  transition: 1s;
}
footer .footerDivList .logosRedes:hover {
  transform: scale(1.5);
}

/*Estilos página Productos*/
.div__videoyoutube {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  margin: 50px;
}

.videoyoutube {
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}

.contenedorImagenCaracteristicas {
  display: flex;
  justify-content: center;
}

.imagenCaracteristicas {
  width: 90%;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
  margin: 50px;
}

.contenedorCarousel {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.dimensionImagen {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
  opacity: 50%;
}

.catalogo__productos {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridCatalogo {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

@media screen and (max-width: 576px) {
  .gridCatalogo {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
}
.gridProducto {
  border: 2px solid black;
  /* width: 100px; */
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}

.imagenCatalogo {
  width: 10vw;
  object-fit: cover;
}

.imagenCatalogoOtros {
  width: 3vw;
  object-fit: cover;
}

.volver {
  display: flex;
  justify-content: center;
}

.imagenPrincipal, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .videoInvitacion {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenPrincipal, .contenedorConocenos .contenedorTarjetas .imagenConocenos .imagenConocenos1, .contenedorConocenos .contenedorTarjetas .imagenConocenos2 .imagenMapa, .contenedorConocenos .contenedorTarjetas .videoInvitacion {
  object-fit: cover;
  box-shadow: 5px 5px 5px black;
  border-radius: 25px;
}

.contenedorDeProducto .ContenedorVideoYCarateristicas {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbarPersonalizado {
  width: 75%;
  margin: 0 auto;
  background-color: #D7BE9E;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}
header .navbarPersonalizado .logo {
  transition: 1s;
}
header .navbarPersonalizado .logo:hover {
  transform: scale(2);
}
header .navbarPersonalizado .linkPersonalizado {
  text-decoration: none;
  font-family: "Cormorant", serif;
  font-style: oblique;
  font-size: 2rem;
  color: black;
  transition: 1s;
}
header .navbarPersonalizado .linkPersonalizado:hover {
  text-shadow: 10px 10px 10px black;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
  background-color: #f0e1ce;
}
footer .footerDivList {
  list-style: none;
}
footer .footerDivList .logosRedes {
  width: 3vw;
  transition: 1s;
}
footer .footerDivList .logosRedes:hover {
  transform: scale(1.5);
}

.contenedorDeProducto {
  margin: 0 auto;
  width: 70%;
}
.contenedorDeProducto .nombreDeProducto {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 60px;
  color: black;
  display: flex;
  justify-content: center;
}
.contenedorDeProducto .ContenedorVideoDelProducto .videoDelProducto {
  width: 100%;
  height: 90vh;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  border: 2px solid black;
}
.contenedorDeProducto .caracteristicasDelProducto {
  font-family: "Cormorant", serif;
  font-style: normal;
  font-size: 1.5rem;
  color: black;
  padding-top: 2vw;
  width: 50%;
  text-align: center;
  padding-top: 2vw;
}
.contenedorDeProducto .caracteristicasDelProducto ul {
  list-style: none;
}
.contenedorDeProducto .ContenedorImagenesDelProducto {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.contenedorDeProducto .ContenedorImagenesDelProducto .imagenDelProducto {
  width: 30%;
  height: 70vh;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}

/*# sourceMappingURL=style.css.map */
