header {
    div {
        border: 2px solid black;
        width: 100%;
        margin: 0 auto;
        list-style: none;
        height: 100px;
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: #f0e1ce;
        border-radius: 25px;
        box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457; 
        z-index: 20;
        nav {
            width: 100%;
            display: flex;
            ul {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-content: space-between;
                align-items:center;
                list-style: none;
                li {
                    text-decoration: none;
                    font-family: 'Cormorant', serif;
                    font-style: oblique;
                    font-size: 2rem;
                    color: black;
                    transition: 1s;

                    &:hover {
                        text-shadow: 10px 10px 10px black;
                    }
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

body{
    justify-content: center;

    main {
        // border: 2px solid black;
        margin: 0 auto;
        width: 70%;
        display: grid;
        grid-template-columns: 1 fr 1fr;
        grid-template-rows: 20vh 110vh 80vh;
        grid-template-areas:    "titulo titulo"
                                "video caracteristicas"
                                "imagenes imagenes";
        .titulo {
            grid-area: titulo;
            font-family: 'Cormorant', serif;
            font-style: normal;
            font-size: 60px;
            color: black;
            display: flex;
            justify-content: center;
            grid-area: titulo;
        }
        .video {
            grid-area: video;
            video {
                margin: 0 auto;
                width: 100%;
                height: auto;
                background-color: white;
                border-radius: 25px;
                box-shadow: 5px 5px 5px black;
                border: 2px solid black;
            }
        }
        .caracteristicas {
            grid-area: caracteristicas;
            font-family: 'Cormorant', serif;
            font-style: normal;
            font-size: 1.5rem;
            color: black;
            /* display: flex; */
            text-align: center;
            padding-top: 2vw;
            ul {
                list-style: none;
            }

        }
        .imagenes {
            grid-area: imagenes;
            display: flex;
            justify-content: space-around;
            img {
                width: 30%;
                height: 70vh;
                object-fit: cover;
                border-radius: 25px;
                box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
            }
        }


    }
}