* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* Estilos del index */

body {
    background-color:#fdfdfd;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    /* border: 2px solid black; */
}

.contenedorIndex {
    width: 90%;
    max-width: 2000px;
    margin: 20px auto;
    /* border: 2px solid black; */
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
}

/* .contenedorIndex > .cabeceraIndex, .imagenIndex, .footer {
    border: 2px solid black;
} */

/* Estilos para la cabcera del index */
.cabeceraIndex {
    width: 100%;

}

.cabeceraIndexLista{
    width: 100%;
    list-style: none;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items:center;
    padding: 20px;
    background-color: #f0e1ce;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457; 
    z-index: 20;
}

.Link, .textoFooter {
    text-decoration: none;
    text-decoration: none;
    font-family: 'Cormorant', serif;
    font-style: oblique;
    font-size: 2rem;
    color: black;

}

#logo {
    width: 80px;
}

/* Estilos para la imagen del index */

.imagenIndex {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imagenPrincipal {
    width: 90%;
    object-fit: cover;
    box-shadow: 5px 5px 5px;
    border-radius: 25px;
    display: flex;
    align-content: center;
}

/* estilos para el footer */

.footer{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457; 
    background-color: #f0e1ce;
    border: 2px solid black;
}

.footerDivList{
    list-style: none;
}


.logosRedes {
    width: 5vw;
}

/* Estilos de la página Conocenos */

