@import '../base/mixins';
@import '../base/extends';
@import '../components/headers';
@import '../components/footers';
@import '../base/maps';

/* Estilos de la página Conocenos */




.title1 {
    @include textos (normal, 60px, black);
    display: flex;
    justify-content: center;
}

.contenedorPresentacion {
    @extend %displayConocenos
}

.textoPresentacion {
    width: 25%;
    border: 2px solid black;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}


.imagenConocenos1 {
    @extend %imagenes;
    width: 30vw;
}

.contenedorOrganizacion {
    @extend %displayConocenos;
    
}


.imagenConocenos2 {
    @extend %imagenes;
    width:30vw;
    border: 2px solid black;
}

.textoOrganizacion{
    width: 40%;
    border: 2px solid black;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}

.contenedorInvitacion {
    @extend %displayConocenos;
}
.textoInvitacion {
    width: 50%;
    height: 100%;
    border: 2px solid black;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}
.videoInvitacion {
    @extend %imagenes;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    grid-area: video;
}



.title2, .title3 {
    @include textos (normal, 30px, black);
    text-align: center;
    padding-top: 1vw;
}

.texto {
    @include textos (normal, 1.5rem, black);
    text-align: center;
    padding-top: 2vw;
}  

.formularioConocenos {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contenedorFormulario {
    border: 2px solid black;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:  #8a7457;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}

.formulario {
    @include textos (normal, 25px,white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}