@import '../base/mixins';
@import '../base/extends';
@import '../components/headers';
@import '../components/footers';
@import '../base/maps';


/*Estilos página Productos*/


.div__videoyoutube {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    margin: 50px;
}

.videoyoutube {
    border-radius: 25px;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
}

.contenedorImagenCaracteristicas {
    display: flex;
    justify-content: center;
}

.imagenCaracteristicas {
    width: 90%;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
    margin: 50px;

}

.contenedorCarousel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.dimensionImagen {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;
    opacity: 50%;
}

.catalogo__productos {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gridCatalogo {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

@media screen and (max-width: 576px) {
    .gridCatalogo {
        grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    }
}

.gridProducto {
    border: 2px solid black;
    /* width: 100px; */
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black, inset 5px 5px 10px #8a7457;

}

.imagenCatalogo {
    @include imagenesCatalogo (10vw)
}

.imagenCatalogoOtros {
    @include imagenesCatalogo (3vw)
}

.volver {
    display: flex;
    justify-content: center;

}